$body-bg: #121212;
$body-color: #FFFFFF;

$card-bg: #333333;
$card-color: #FFFFFF;

$list-group-bg: #333333;
$list-group-color: #FFFFFF;

$input-bg: #121212;
$input-color: #FFFFFF;
$input-disabled-bg: #444444;
$input-disabled-color: #EEEEEE;

$alert-bg-scale: -50%;

$primary: #BB86FC;
$success: #03DAC5;
$danger: #CF6679;
$warning: #e7bf8e;

h1, h2, h3, h4 {
  color: $primary;
}

.div-dark {
  .card {
    background-color: #121212;
  }

  background-color: #222222;
  padding: 3%;
  border-radius: 2%;
}

.hover-focus:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.hover-color:hover {
  background-color: silver;
  color: black;
}

@import '~bootstrap/scss/bootstrap';
